:80 {
    root * /var/www/nexumchat/src
    file_server
    encode gzip

    handle /config.json {
        root * /var/www/nexumchat/config
        file_server
    }

    handle /health {
        reverse_proxy api:3000
    }

    handle /api/* {
        reverse_proxy api:3000
    }

    handle {
        try_files {path} /index.html
    }
}
